.header {
    text-align: center;
    background: #f1f1f1;

    &__container{
        @extend .l-container;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        padding: 20px 0 10px;
    }

    &__widgets{
        display: flex;
        align-content: center;

        &-item{
            margin-left: 20px;
        }
    }

    &__logo{

        img{
            display: block;
            width: 150px;
            height: auto;
        }
    }

    &__main-menu{
        display: block;
        max-width: 100%;
        background: #1e1f26;
    }
}


.header-search{

    &__link{

    }
}

.header-profile-widget{

    &__link{

    }  
}

.header-favorites-widget{

    &__count{

        span{
            display: inline-block;
            margin-left: 5px;
            color: $color-base;
            background: #fff;
            border-radius: 15px;
            padding: 3px 9px;
            font-size: 13px;
        }
    }
}

.header-cart-widget{
    position: relative;

    &__counter{
        padding: 0;
        
        span{
            display: inline-block;
            margin-left: 5px;
            color: $color-base;
            background: #fff;
            border-radius: 15px;
            padding: 3px 9px;
            font-size: 13px;
        }
    }

    &__dropdown{
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 3px;
        min-width: 290px;
        border-radius: 10px;
        background: #fff;

        @include smooth-drop-down-hide(true) {
            transition: transform .15s ease-in, opacity .15s ease-in;
        }

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            top: -10px;
        }
    }
    

   
    &:hover &{
        &__dropdown{
            @include smooth-drop-down-show();
        }
    }

    &.is-show &{
        &__dropdown{
            @include smooth-drop-down-show();
        }
    }
}
