<div class="pagination">
    <span class="first"><a href="#">◀◀</a></span>
    <span class="previous"><a href="#">◀</a></span>
    <span class="current">1</span>
    <span class="page"><a href="#">2</a></span>
    <span class="page"><a href="#">3</a></span>
    <span class="page"><a href="#">4</a></span>
    <span class="page"><a href="#">5</a></span>
    <span class="next"><a href="#">▶</a></span>
    <span class="last"><a href="#3">▶▶</a></span>
    <span class="all"><a href="#3">Show All</a></span>
</div>