{%  set products = [ {
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка из эластичной джинсовой ткани',
    price: { curr: '5 999', full: '6 000'}
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: '5 999'
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: { curr: '5 999', full: '6 000'}
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: { curr: '5 999', full: '6 000'}
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка из эластичной джинсовой ткани',
    price: { curr: '5 999', full: '6 000'}
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: '5 999'
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: { curr: '5 999', full: '6 000'}
},{
    img: 'http://via.placeholder.com/384x320/f9f9f9/000000',
    title: 'Плотная рубашка',
    price: { curr: '5 999', full: '6 000'}
}] %}
{# has-sidebar - опционально #}
<div class="products-list has-sidebar">
    {% for item in products %}
        {% include '../product-list-item/product-list-item.twig' with {'item': item, 'class': 'products-list', 'mod': ''} %}  
    {% endfor %}
</div><!-- end .products-list -->
