<div class="my-profile-sidebar">
    <div class="my-profile-sidebar__user">
        <img src="http://via.placeholder.com/40x40/ccc/000000" alt="">
        <span>User</span>
    </div>
    <div class="my-profile-sidebar__menu my-profile-menu">
        <ul>
            <li class="is-active"><a href="{{ url.myProfieMain }}">Dashboard</a></li>
            <li><a href="">Information</a></li>
            <li><a href="">My Orders</a></li>
            <li><a href="">Messages</a></li>
            <li><a href="">Wallet</a></li>
            <li><a href="">Share and Earn</a></li>
            <li><a href="">Reward Point</a></li>
        </ul>
    </div>
</div>
