@import "../import.scss";

.gallery-widget-grid {
    $gap: 2px;

    @extend .l-fullwidth;

    padding: 30px 0 60px;
    // background: rgb(236, 236, 236);

    &__container {
        @extend .l-container;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 20px;

        h2 {
            margin: 0;
        }
    }

    &__content {
        @extend .l-fullwidth;
    }

    &__list {
        @include grid($gap);
    }

    &__item {
        @include grid-col(1, $gap);
        margin-bottom: $gap;
        background: #ccc;

        @media (min-width: $sm) {
            @include grid-col(1/2, $gap);
        }

        @media (min-width: $md) {
            @include grid-col(1/3, $gap);
        }

        @media (min-width: $lg) {
            @include grid-col(1/4, $gap);
        }

        &-img{
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            img{
                @include img-full;
            }
        }
    }

    &__btn {

        &-more{
            @extend .btn;
            @extend .btn--primary; 
        }
    }
}
