{%  set reviewsWidget = [ {
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
},{
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
},{
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
},{
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
},{
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
},{
    date: '2 ноября 2016',
    author: 'Александр Пушкин',
    text: 'Раньше делали шубы гораздо качественней, сейчас же везде один Китай. В моей шубе нет дополнительного утеплителя, поэтому я мерзну в ней как цуцик. Я читала много форумов, и девушки писали что им не холодно в норке даже в - 30. Но либо они по природе своей "горячих" кровей, либо на них под норкой 3 теплых свитера.',
}] %}

<!-- begin .reviews-widget -->
<div class="reviews-widget js-reviews-widget">
    <div class="reviews-widget__container">

        <div class="reviews-widget__header">
            <h2>Reviews-widget</h2>
            <a class="template-list__btn-more" href="">Show All</a>
        </div>

        <div class="reviews-widget__content">
            <div class="reviews-widget__list owl-carousel">
                {% for item in reviewsWidget %}
                <div class="reviews-widget__item">
                    <p class="reviews-widget__item-header">
                        <span class="reviews-widget__item-name">{{ item.date }}</span>
                        <span class="reviews-widget__item-date">{{ item.author }}</span>
                    </p>
                    <p>{{ item.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<!-- end .reviews-widget -->
