<!-- homepage-text-additional -->
<div class="homepage-text-additional">
    <div class="homepage-text-additional__container">
        <h2>Заголовок H2</h2>
        <p>
            <img class="response-img-md" src="http://via.placeholder.com/330x250" style="float: right; margin: -55px 0 20px 50px; width: 330px;" alt="">
            Онлайн магазин Stylecloth осуществляет бесплатную доставку по всей России с помощью собственной курьерской службы. Также покупатель может забрать заказ из пункта самовывоза или получить по почте. Любую одежду, обувь и другие товары можно примерить перед оплатой заказа курьеру или в пункте самовывоза, оборудованном удобными примерочными.</p>

        <div class="js-spoiler-content" data-screen="md" data-btn-class="-primary -fullwidth">
            <p>Stylecloth предлагает несколько различных вариантов оплаты заказа как при оформлении, так и по факту при получении, - банковскими картой или переводом, наличным расчетом или электронным платежом. </p>
        </div>
    </div>
</div>
<!-- end homepage-text-additional -->
