@import "../import.scss";

.main-menu {
    /**
     *  Стили для десктопа
     */
    @media (min-width: $mobile) {
        // прячем кнопку показывающую меню на мобильном
        [data-menu-mobile--switcher-btn]{
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        &>ul{
            display: flex;
            width: 100%;
            max-width: $content-width;
            margin: 0 auto;
            justify-content: space-between;
        }
        li {
            margin: 0;
            
            &.-has-dropdown{
                position: relative;
                // показывает выпадашку
                &:hover div {
                    @include smooth-drop-down-show();
                }
            }
            &.-hidden{
                display: none;
            }
            &.is-active> a,
            &:hover > a ,
            &.is-active> span,
            &:hover > span {
                color: #3a4750;
                background: #f3efef;
            }
            &.-extraBar {
                div{
                    left: auto;
                    right: 0;
                }
                // кнопка, появляющаяся если меню не влазит целиком
                & > button {
                    position: relative;
                    display: block;
                    width: 26px;
                    height: 26px;
                    padding: 0;
                    margin: 17px;
                    border: none;
                    background: url(../images/icons/menu.svg) center center no-repeat;
                    background-size: cover;
                    font-size: 0;
                    transition: $transition-default;
                    filter: invert(100%);
                    cursor: pointer;
                }
                &:hover {
                    background: #f3efef;
                    & > button {
                        filter: none;
                    }
                }
            }
        }
        
        a,
        span {
            display: block;
            padding: 0 24px;
            position: relative;
            text-decoration: none;
            font-size: 15px;
            line-height: 60px;
            color: #fff;
            transition: $transition-default;
            cursor: pointer;
            white-space: nowrap;
        }
        // выпадашки
        div{
            position: absolute;
            left: 0;
            top: 60px;
            display: block;
            overflow: hidden;
            min-width: 256px;
            background: #5f676d;

            @include smooth-drop-down-hide(true) {
                //  transition: transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                transition: transform .15s ease-in, opacity .15s ease-in;
            }

            ul {

            }

            li {

            }

            a {
                text-align: left;
                padding: 10px 15px 10px 20px;
                justify-content: left;
                white-space: normal;
                line-height: 22px;
            }
        }
    }

    /**
     *  Стили для адатпива
     */
    @media (max-width: $mobile) {
        [data-menu-mobile--switcher-btn] {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            font-size: 0;
            z-index: 250;
            padding: 0;
            border: none;
            background: url(../images/icons/menu.svg) center center no-repeat;
            background-size: 26px auto;
            font-size: 0;
            transition: $transition-default;
            filter: invert(100%);
            cursor: pointer;
        }
        ul {
            display: none;
        }
    }
}

$mobile-menu-color-bg: #194769;
$mobile-menu-color-main: #fff;
$mobile-menu-color-header: #fff;
$mobile-menu-color-border: #fff;
$mobile-menu-color-icons: #fff;
$mobile-menu-header-height: 70px;

.menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: $mobile-menu-color-bg;
  box-sizing: border-box;
  overflow: hidden;

  &.is-closed{
    display: none;
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;
    height: $mobile-menu-header-height;
    border-bottom: 1px solid $mobile-menu-color-border;
  }

  &__title {
    width: 100%;
    height: $mobile-menu-header-height;
    text-align: left;
    &-btn {
      position: relative;
      width: 100%;
      height: $mobile-menu-header-height;
      padding: 0 41px 0 36px;
      border: none;
      font-size: 20px;
      font-weight: 600;
      color: $mobile-menu-color-header;
      line-height: $mobile-menu-header-height;
      text-align: left;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      background: none;
      transition: .25s;
      &[data-node='0'] {
        padding: 0 21px 0 21px;
        i{
          display: none;
        }
      }
    }
  }

  &__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: $mobile-menu-header-height;
    background: none;
    border: none;
    cursor: pointer;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 24px;
      height: 2px;
      margin: -1px 0 0 -12px;
      background: none;
      border: none;
      pointer-events: none;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 24px;
        height: 2px;
        margin: 0;
        transform: rotate(45deg);
        background: $mobile-menu-color-icons;
        transition: .2s;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    display: block;
    margin: 0;
    padding: 0 0 60px; // iOS safari bottom toolbar
    list-style: none;
    height: calc(100vh - #{$mobile-menu-header-height});
    overflow-y: auto;
  }

  &__item {
    display: block;
    position: relative;
    margin: 0;
    border-bottom: 1px solid $mobile-menu-color-border;

    &-name {
      position: relative;
      display: block;
      padding: 11px 21px 13px;
      text-decoration: none;
      color: $mobile-menu-color-main;
    }

    &.-has-child .menu-mobile-name {
      padding: 11px 51px 13px 21px;
    }

    &-btn {
      display: block;
      width: 42px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      border: none;
      pointer-events: none;

      &.hasChild {
        pointer-events: auto;
        border-left: 1px solid $mobile-menu-color-border;
      }

    }

  }

  i{
    pointer-events: none;
  }

  &__icon {
    display: block;

    &-arrow-left,
    &-arrow-right {
      width: 8px;
      height: 8px;
      position: absolute;
      border: 1px solid $mobile-menu-color-icons;
      border-left: none;
      border-bottom: none;
      top: 50%;
    }

    &-arrow-left {
      left: 50%;
      margin: -4px -4px 0 -5px;
      transform: rotate(45deg);
    }

    &-arrow-right {
      left: 21px;
      margin: -4px -4px 0 3px;
      transform: rotate(-135deg);
    }

    &-more {
      width: 4px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -2px 0 0 -2px;
      border-radius: 50%;
      background: $mobile-menu-color-icons;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        background: $mobile-menu-color-icons;
      }
      &:before {
        top: -7px;
      }
      &:after {
        bottom: -7px;
      }
    }
  }

  /* animations */
  &-toggle {
    &-enter-active {
      animation: menu-mobile-open 0.5s;
    }
    &-leave-active {
      animation: menu-mobile-close 0.3s;
    }
  }

  &-header-toggle {
    &-enter,
    &-leave {
      opacity: 0
    }
    &-enter-active,
    &-leave-active {
      transition: opacity .5s .2s;
    }
  }

  &-item-show {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 0;
      animation: menu-mobile-item-show 0.35s ease-out;
      @for $i from 0 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: 0.20s + 0.05s * $i;
        }
      }
    }
    &-leave {
      opacity: 0;
    }
    &-leave-active {
      display: none;
      transition: opacity 0.1s ease-out;
      animation-delay: 0s !important;
    }
  }
}

@keyframes menu-mobile-open {
  0% {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    transform-origin: center top;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    height: auto;
    opacity: 1;
    transform-origin: center top;
  }
}

@keyframes menu-mobile-close {
  0% {
    top: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -100vh;
  }
}

@keyframes menu-mobile-item-show {
  0% {
    transform: scale(1.1) translateY(-24px);
    opacity: 0;
    transform-origin: center top;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform-origin: center top;
  }
}

