<div class="product-show-tabs">
    <h2>More info</h2>
    <div class="product-show-tabs__tabs tabs js-product-show-tabs">
        <div class="tabs__nav">
            <div class="tabs__nav-item">Desciption</div>
            <div class="tabs__nav-item">Parameters</div>
            <div class="tabs__nav-item">Reviews</div>
        </div>
        <div class="tabs__content">
            <div class="tabs__content-item">
                <div class="product-show-tabs__description">
                    <p>In M/Y Notorious, Sunseeker have crafted a flawless ship that shows exactly why they’re so
                        renowned. Built for pure luxury and style, The Sunseeker 28m, M/Y Notorious gives the feel
                        and volume of a 30m. Don’t wait around and miss the opportunity of a lifetime to feel like
                        royalty. Notorious will have you surrounded by impeccable design, the latest in-home
                        entertainment and deluxe cabins.</p>
                    <p>Notorious’ vast and comfortable cabins are perfect to bring your family or friends on your
                        oceanic adventure. The ship’s 4 rooms are capable of sleeping a total of 10 people. Each
                        room has been perfectly crafted to give you the most comfortable experience you could have
                        at sea. The cabins include a master cabin, a VIP guest cabin and two double cabins each with
                        a Pullman style beds. The Master suite is full beam and is geared with a love seat,
                        vanity/desk, king sized bed and ensuite facilities that have a set of his & hers sinks. The
                        ship also features separate cabin quarters for crew. The rest of the ship is just as well
                        furnished. The saloon has two sofas as well as a coffee table perfectly set to watch the
                        giant 70 inch 4k TV. Above the saloon is the spacious fly bridge which can be easily
                        accessed by the aft deck.</p>
                    <p>Notorious owes its brilliant design and attention to detail to Sunseeker, who’ve created an
                        experience that is to die for. Originally built in 2008, the ship is 28 metres in length,
                        with 6.3 metre beam and 2 metre draft. Notorious has a cruise speed of 20 knots and can
                        reach a maximum speed of 28 knots powered by two, Caterpillar engines.</p>
                </div><!-- end .product-show__details -->
            </div>
            <div class="tabs__content-item">
                Parameters
            </div>
            <div class="tabs__content-item">
                Reviews
            </div>
        </div>
    </div>

</div><!-- end .product-show-tabs -->
