<div class="product-sorting">
    <span>Sorting by:</span>
    <div class="product-sorting__options">
        <span class="product-sorting__options-current">Price: low to high</span>
        <div class="product-sorting__options-dropdown">
            <a href="#">Best rated</a>
            <a href="#">Newest items</a>
            <a href="#">Price: low to high</a>
            <a href="#">Price: high to low</a>
        </div>
    </div>
</div><!-- end .product-sorting -->
