/*
:root {
    --color-base: #1e1f26;
    --color-light: #fff;
    --color-primary: #8dc706;
    --color-primary--variant: #77a707;
    --color-secondary: #f82951;
    --color-secondary--variant: #f71643;
    --color-danger: #ca1932;
    --color-warn: #d4c91f;
    --color-success: #19b119;
    --color-disable: #cdd1d3;
    --border-radius-block: 4px;
    --border-radius-btn: 20px; 
}*/

// GLOBAL ==============================================================================================================
$mobile: 980px;
$desktop: 980px;
$xxs: 375px;     /* iphone X в портретной ориентации */
$xs: 414px;      /* iphone plus в портретной ориентации */
$sm: 568px;      /*  */
$md: 820px;      /* планшеты в портретной ориентации / телефоны в альбомной */
$lg: 1024px;     /* планшеты в альбомной ориентации */
$xl: 1280px;     /* ширина контента широкого сайта ( 1170 например )  */
$xxl: 1600px;     /* ширина контента широкого сайта ( 1170 например )  */

$content-width: 1170px; /* ширина контена */
$content-gap: 15px;    /* боковой отступ контента ( на адаптиве ) */
$grid-margin-horz: 26px;    /* отступ по вертикали для  */
$grid-margin-bot: 20px;    /* отступ по вертикали для  */

$breakpoints: (
    xxs: $xxs,
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl,
) !default;


// ANIMATIONS ==========================================================================================================

$transition-time: 0.2s;
$transition-ease: ease;
$transition-default: all $transition-time $transition-ease;


// FONTS ===============================================================================================================

$font-main: 'Open Sans', sans-serif;             /* основной шрифт */
$font-secondary: '';                                /* дополнительный шрифт */
$font-size-base: 14px;                           /* базовый размер шрифта */
$font-weight-base: 400;
$line-height-base: 1.4;                         /* базовый междустрочный интервал */

$text-margin: 15px;                              /* отступ между элементами в тексте */

$border-radius-block: 4px;
$border-radius-btn: 20px;

// COLORS ==============================================================================================================

$color-base: #1e1f26;                 /* базовый цвет текста */
$color-base-invert: #fff;          /* инвертированый цвет текста */
$color-heading: #1e1f26;
$color-primary: #8dc706;      /* цвет для активных состояний */
$color-primary--variant: #77a707;      /* цвет для активных состояний */
$color-secondary: #f82951;  /* дополнительный цвет для активных состояний */
$color-secondary--variant: #f71643;      /* цвет для активных состояний  */

$color-disable: #cdd1d3;              /* цвет нективных */
$color-danger: #ca1932;                /* ошибки, для подтверждения деструктивных действий */
$color-warn: #d4c91f;                    /* для предупреждений */
$color-success: #19b119;              /* положительные действия  */
