<!-- begin .template-parallax-on-mouse -->
<div class="template-parallax-on-mouse js-parallax-on-mouse">

    <div class="template-parallax-on-mouse__parallax-container">
        <img data-parallax-on-mouse data-depth="0.5" src="http://via.placeholder.com/2880x705/cccccc/ddd" alt="">
    </div>
    
    <div class="template-parallax-on-mouse__container">
        <div class="template-parallax-on-mouse__header">
            <h2>Template-parallax-on-mouse</h2>
        </div>

        <div class="template-parallax-on-mouse__content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam facere accusantium recusandae. Praesentium ipsam commodi eos, dignissimos temporibus, nulla, autem doloribus at fugit facilis quidem expedita eligendi laboriosam placeat quod alias voluptatem in cumque aspernatur. Laborum ipsum deleniti vitae iste nesciunt eligendi, mollitia in nulla explicabo repellendus voluptatum quas, quidem esse dolor. Blanditiis vitae a expedita dolore eos quis sit asperiores. Veniam, minus nam repellat modi eius ab perspiciatis blanditiis pariatur debitis, earum, placeat accusamus! Pariatur enim veritatis asperiores voluptatum repudiandae in aspernatur alias repellat molestias architecto doloribus culpa ipsa corporis, tempora libero cumque, non obcaecati dolor earum reprehenderit error?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, deserunt minima quisquam obcaecati ratione sed. Assumenda obcaecati quia quod temporibus.</p>
        </div>
    </div>
</div>
<!-- end .template-parallax-on-mouse -->
