@import "../import.scss";

.product-item{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgb(236, 236, 236);
        
    &__img {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 83.33%;

        a {
            @include block-full;
        }

        img {
            @include img-full;
        }
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 15px 20px 20px;
    }

    &__title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 50px;
        padding-bottom: 10px;
    }

    &__price {
        text-align: center;
        margin-bottom: 10px;

        &-curr{
            font-weight: bold;
        }

        &-full{
            text-decoration: line-through;
        }
    }

    &__btn-buy {
        @extend .btn;
        @extend .btn--primary;
        @extend .btn--center;
    }
}
