<!-- begin .instagram-widget -->
<div class="instagram-widget js-instagram-widget">
    <div class="instagram-widget__container">

        <div class="instagram-widget__header">
            <h2>Instagram-widget</h2>
            <a class="instagram-widget__btn-more" href="">@instagram</a>
        </div>

        <div class="instagram-widget__content">
            <div class="instagram-widget__list js-instagram-widget-list" id="instafeed"></div>
        </div>

    </div>
</div>
<!-- end .instagram-widget -->
