@import "../import.scss";

.publication-list {
    $gap: 22px;
    $bg-default: #3990ab;
    $bg-hover: #40545d; 

    @include grid($gap);

    &__item{
        @include grid-col(1,$gap);
     
        @media (min-width: $sm) {
            @include grid-col(1/2,$gap);
        } 

        @media (min-width: $md) {
            @include grid-col(1/3,$gap);
        }

        margin-bottom: $gap;
        position: relative;
        background: $bg-default;
        box-shadow: 0 1px 3px 0 rgba(69, 69, 69, 0.26);
        border-radius: 5px;
        overflow: hidden;

        &:hover &{

            &-text {
                background: $bg-hover;
            }

            &-name {
                color: #fff;
                border-bottom: 1px solid #fff;
            }

            &-link {
                opacity: 1;
                pointer-events: auto;
            }
        }

        &-img {
            display: table;
            width: 100%;
            height: 181px;
    
            a {
                display: table-cell;
                vertical-align: middle;
            }
    
            img {
                display: block;
                width: 101%;
                height: 181px;
                object-fit: cover;
            }
        }
    
        &-text {
            min-height: 80px;
            padding: 8px 22px 13px;
            position: relative;
            background: $bg-default;
            transition: 0.3s;
            color: #fff;
        }
    
        &-name {
            display: inline;
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}
